*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "lat-izq ventana lat-der";
    grid-template-columns: minmax(150px,20%) minmax(350px,1fr) minmax(220px,25%);
}
.chat-container{
    grid-area: "ventana";
    background-color: #4ade80;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 5px;
}
.chat-container>div{
    border: 2px #bbf7d0 solid;
}
.lateral{
    background-color: #4ade80;
    padding: 5%;
}
.izq{
    grid-area: "lat-izq";
}
.der{
    grid-area: "lat-der";
    
}
.info,.calificaciones,.tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7fee7;
    border-radius: 5px;
    border: 2px #bbf7d0 solid;
    height: 100%;
}
.izq{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.izq>div{
    height: 50%;
}
.chat-ventana{
    border-radius: 5px;
    flex:1;
    background-color: #f7fee7;
    display: flex;
    flex-direction: column;
}
.chat-entrada{
    height: 5%;
    border-radius: 5px;
    background-color: #f7fee7;
    display: flex;
}
.chat-entrada>input{
    border-style: none;
    text-indent: 10px;
    flex: 1;
}
.chat-entrada>button{
    border-radius: 50px;
    background-color: #86efac;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chat-entrada>button:hover{
    background-color: #22c55e;
}
/* .chat-entrada>button>img{
} */
.msg{
    width: 50%;
    border-radius: 5px;
    margin: 3px;
    padding: 5px 0 2% 3%;
    overflow-wrap: break-word;
    background-color: #dcfce7;
}
.msg-recibido{
    align-self: self-end;
    width: 50%;
    border-radius: 5px;
    margin: 3px;
    padding: 5px 0 2% 3%;
    overflow-wrap: break-word;
    background-color: #86efac;
}