<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script defer src="{{ url_for('static', filename='chat.js') }}"></script>
    <title>Web chat</title>
</head>

<body>
    <div class="main-container">
        <div class="lateral izq">
            <div class="info">
                <h3>Datos del cliente</h3>
            </div>
            <div class="calificaciones"></div>
        </div>
        <div class="chat-container">
            <div class="chat-ventana"></div>
            <div class="chat-entrada">
                <input id="entrada" type="text">
                <button id="btn_enviar"><img src="{{ url_for('static', filename='./assets/enviar.png') }}"
                        alt=""></button>
            </div>
        </div>
        <div class="lateral der">
            <div class="tabs">
                <input checked type="radio" name="tabs" id="tab1">
                <label for="tab1">Nuevos</label>
                <div class="tab"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quos at nemo iusto deleniti incidunt, ducimus inventore ad possimus maiores veritatis, neque corrupti blanditiis sit excepturi, molestias nulla nobis earum.</div>
                <input type="radio" name="tabs" id="tab2">
                <label for="tab2">Análisis</label>
                <div class="tab">elit. Minima quos at nemo iusto deleniti incidunt, ducimus inventore ad possimus maiores veritatis, neque corrupti blanditiis sit excepturi, molestias nulla nobis earum.</div>
                <input type="radio" name="tabs" id="tab3">
                <label for="tab3">Otros</label>
                <div class="tab">elit. Minima quos at nemo iusto deleniti incidunt, ducimus inventore ad possimus maiores veritatis, neque corrupti blanditiis sit excepturi, molestias nulla nobis earum.</div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script>
</body>

</html>